:root {
    --main-bg-color: #fafafa;
    --main-text-color: #999999;
    --alternative-bg-color: #ffffff;
    --headers-text-color: #808080;
    --border-color: #f5f5f5;
    --hover-color: #0078ff;
    --brown-grey: #b3b3b3;
    --danger: #e34229;

    --transition-time: .3s;
    --box-shadow: 5px 11px 49px -8px rgba(0,0,0,0.6);
    --light-box-shadow: 2px 0px 34px 0px rgba(0, 0, 0, 0.2);;
}